#picBox{
	width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
   	
}
#picBox ul{
	height: 377px;
    position: absolute;
    left: 0;
    width: 350px;
}
#picBox ul li {
    width: 350px;
    height: 377px;
}

.priceBox{
	height: 377px;
    position: absolute;
    left:400px;
    width: 350px;
    
}
.priceBox i{
	color: #197BC9;
	font-size: 26px;
}
.priceBox p{
	display: block;
	width: 280px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #000000;
	background: deepskyblue;
	cursor: pointer;
}
