#shopingStep {
    width: 100%;
    color: #333;
    vertical-align: middle;
    padding: 50px 0px 10px 0px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    
    margin-top: 109px;
}

#shopingStep .item3 {
    width: auto;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}

#shopingStep .item3 .txt {
    width: 135px;
    height: 20px;
    display: block;
    color: #666;
}

#shopingStep .item3 .chk{
	color: #6393b4;
}


#shopingcarlist {
	margin-top: 20px;
    width: 100%;
    color: #666;
    
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#shopingcarlist .carTab {
    width: 100%;
    border-bottom: 2px solid #ccc;
}

#shopingcarlist .carTab tr th {
    border-bottom: 2px solid #ccc;
    padding: 15px 5px;
    font-size: 15px;
}

#shopingcarlist .carTab tr td {
    padding: 15px 5px;
    text-align: center;
    vertical-align: top;
}

#itemlist2 td{
	border-bottom: 1px solid #f0f0f0;
} 


#shoppingcarList .carTab tr .txtl {
    text-align: left;
}

#shopingcarlist .carTab tr .chkbox {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 2px;
    margin-left: 12px;
}



#shopingcarOpt{
		width: 100%;
	    clear: both;
	    text-align: center;
	    padding: 20px 0px;
}

#shopingcarOpt p {
    font-size: 14px;
    line-height: 30px;
}

#checkoutBtn {
    display: inline-block;
    width: 168px;
    height: 30px;
    color: #fff;
    _margin-bottom: 15px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    background: #7fa6c5;
    margin-top: 5px;
    border: none;
}

#shopingcarOpt p .priceNo {
    color: #197bc9;
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
}

#shopingcarOpt fieldset {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-size: 14px;
    color: #404040;
    width: 60px;
    padding: 0 54px;
    display: inline-block;
    margin-top: 15px;
}

#shopingcarOpt fieldset a {
    color: #404040;
}


