*{
	margin: 0;padding: 0;
}
li{
	list-style:none;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
.bg-photo{
	background: url(../img/icon.png);
}
.header{
	background: #25292e;position: relative;width: 100%;height: 60px;
}
.header-box{
	height: 60px;width: 1000px;position: absolute;left: 50%;top: 0;margin-left: -500px;
}

.header-gouwu-caidan{
	position: absolute;top: 60px;width: 320px;height: 120px;z-index: 3;left: -29px;display: none;
}
.header-gouwu-caidan ul li.header-gouwu-caidan-up{
	width: 320px;height: 70px;background: #25292E;line-height: 70px;text-align: center;font-size: 14px;color: #fff;
}
.header-gouwu-caidan ul li.header-gouwu-caidan-down{
	width: 320px;height: 50px;background: #7dbfde;line-height: 50px;text-align: center;font-size: 14px;color: #fff;
}

.header-box ul li.gouwuche:hover .header-gouwu-caidan{
	display: block;
}
.header-gouwu-news{
	position: absolute;top: 60px;width: 190px;z-index: 9;left: 101px;display: none;
}
.header-gouwu-news>ul>li{
	width: 160px;padding: 0 15px;background: #292f34;height: 45px;line-height: 44px;
}
.header-gouwu-news>ul>li.lastLi{
	height: 44px;
}
.header-gouwu-news>ul>li>a{
	display: block;width: 100%;height: 44px;line-height: 44px;border-bottom: 1px solid #3f4449;
	color: #ccc;font-size: 12px;letter-spacing: 1.5px;
}
.header-gouwu-news>ul>li>a>span{
	float: right;
}
.header-box ul li:hover a{
	color: #ccc;animation: all 1s;
}
.header-box ul li.news:hover .header-gouwu-news{
	display: block;
}



.logo{
	display: block;width: 95px;height: 38px;background: url(../img/icon.png);margin-top: 11px;float: left;
}
.header-box>ul{
	float: right;height: 56px;position: relative;
}
.header-box>ul>li{
	float: left;font-size: 12px;height: 60px;line-height: 60px;
}
.sign-up{
	margin-right: 8px;font-size:14px;letter-spacing: 1.1px;
}
.sign-up a{
	color: #ccc;
}
#sign-in{
	padding-right: 15px;
}

.header-gouwu>a{
	color: #666;display: inline-block;height: 60px;line-height: 60px;padding: 0 15px;letter-spacing: 1.1px;
}
.header-box ul li.line{
	width: 1px;height: 8px;background: #525961;margin-top: 27px;
}
.header-body{
	width: 100%;position: relative;
}
.header-body-box{
	width: 1000px;position: absolute;left: 50%;margin-left: -500px;
}
.header-body-box-top{
	position: relative;height: 49px;
}
.header-body-box-top>ul{
	width: 734px;
	height: 49px;
	float: left;
}
.search{
	height: 45px;float: left;
	width: 266px;
	border-bottom: 4px solid gainsboro;
}
#search-logo{
	display: block;width: 33px;height: 40px;background-position: -167px -145px;background-color: #fff;float: right;
	margin-right: 13px;
}
.header-body-box-top>ul>li{
	float: left;height: 45px;line-height: 46px;width: 164px;border-bottom: 4px solid gainsboro;
}
.header-body-box-top>ul>li:hover{
	border-bottom-color: #25292E;
}
.header-body-box-top>ul>li>a{
	color: #333;
}
.header-body-box-top>ul>li.homePage{
	width: 121px;
}
.header-body-box-top>ul>li.daren{
	width: 121px;
}
.subLi{
	text-align: center;
}
.header-body-box-lunbotu{
	width: 1000px;height: 475px;position: relative;	overflow: hidden;
}
.images-box{
	position:absolute;height: 475px;top: 0;width: 5000px;z-index: 1;
}
.images-box>ul>li{
	width: 1000px;height:475px;float: left;
}
.btn{
	position: absolute;top: 50%;z-index: 10;width: 50px;height: 50px;cursor: pointer;margin-top: -25px;
}
#btn-left,#btn-right{
	border-radius: 100%;background: rgba(0,0,0,0.3);
}
#btn-right{
	right: 32px;
}
#btn-left{
	left: 32px;
}
#btn-left>div{
	background: url(../img/index/normal_right.png) 0px 0px no-repeat;width: 50px;height: 50px;
}
#btn-right>div{
	background: url(../img/index/normal_left.png) 0px 0px  no-repeat;width: 50px;height: 50px;
}
.icon{
	height: 18px;width: 130px;padding: 7px 435px;position: absolute;top: 524px;
}

.icon>ul>li{
	width: 20px;height: 4px;background: #e8e8e8;float: left;margin: 0 3px;
}
.icon ul li.current{
	background: #25292E;
}
