

.osm-tle{
	
    margin: 40px 0px;
    position: relative;

    height: 47px;
	background: url(../img/icon.png)  center -532px no-repeat;
	z-index: 6;
	top: 109px;
}
.osm-tle a {
    display: block;
    width: 188px;
    height: 40px;
    
    background: url(../img/icon.png) 0 -739px no-repeat;
   
}

