#shopBanner{
	
    width: 100%;
    height: auto;
	margin-top: 115px;
}

#shopingStep {
    width: 100%;
    color: #333;
    vertical-align: middle;
    padding: 50px 0px 10px 0px;
    height: 32px;
    text-align: center;
    font-size: 14px;
    
  
}

#shopingStep .item3 {
    width: auto;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}

#shopingStep .item3 .txt {
    width: 135px;
    height: 20px;
    display: block;
    color: #666;
}

#shopingStep .item3 .chk{
	color: #6393b4;
}

#shoppingcarList {
    width: 100%;
    color: #666;
}

#shoppingcarList .navTle3 {
    width: 100%;
    font-size: 16px;
    padding: 3px 0px;
    color: #333;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
    border-bottom: 1px solid #999;
}